annotated-types
anyio
APScheduler
asttokens
async-timeout
asyncpg
blinker
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
comm
command-not-found
contourpy
cryptography
cycler
databases
dbus-python
debugpy
decorator
deepl
distlib
distro
distro-info
dnspython
ecdsa
email_validator
et-xmlfile
exceptiongroup
executing
fastapi
fastapi-azure-auth
fastapi-cli
filelock
fonttools
fsspec
greenlet
gyp
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jedi
jeepney
Jinja2
jmespath
jupyter_client
jupyter_core
keyring
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
more-itertools
mpmath
nest-asyncio
netifaces
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
openai
openpyxl
orjson
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
psycopg2-binary
ptyprocess
pure_eval
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyGObject
PyJWT
pyparsing
python-apt
python-dateutil
python-dotenv
python-jose
python-multipart=
pytz
PyYAML
pyzmq
redis
regex
requests
rich
rsa
s3transfer
safetensors
SecretStorage
shellingham
six
sniffio
SQLAlchemy
stack-data
starlette
sympy
systemd-python
tokenizers
torch
tornado
tqdm
traitlets
transformers
triton
typer=
typing_extensions
tzdata
tzlocal
ubuntu-advantage-tools
ufw
ujson
unattended-upgrades
urllib3
uvicorn
uvloop
wadllib
watchfiles
wcwidth
websockets
zipp
